{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load blog_tags %}
{% load static %}


{% block title %}{{ post.title }}{% endblock %}
{% block content %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div id="main-content" class="blog-page">
        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-8 col-md-12 left-box">
                    <div class="card single_post">
                        <div class="body">
                            <div class="img-post">
                                <img class="d-block img-fluid" src="{% if post.image %}{{ post.image.url }}{% else %} {% static 'img/no_img.png' %}{% endif %}" alt="First slide">
                                <p class="tags">
                                    Tags:
                                    {% for tag in post.tags.all %}
                                    <a style="color:rgb(148, 180, 101)" href="{% url 'blog:post_list_by_tag' tag.slug %}">
                                        {{ tag.name }}
                                    </a>
                                        {% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                            {% if request.user == post.author %}
                            <p class="date">
                                <a href="{% url 'blog:edit_post' post.id %}">Edit post</a>&nbsp;&nbsp;  
                                <a href="{% url 'blog:delete_post' post.id %}">Delete post</a>&nbsp;&nbsp;
                            {% endif %}
                                <a href="{% url 'blog:post_share' post.id %}">Share this post</a>
                            </p>
                            <br>
                            <h3><a href="{{ post.get_absolute_url }}">{{post.title}}</a></h3>
                            <p class="date">
                                Published {{ post.publish }} by {{ post.author }}
                            </p>
                            <p>{{ post.body|markdown }}</p>
                        </div>                        
                    </div>
                    <div class="card">
                            <div class="header">
                                <h2>Comments {{ post|total_comments}}</h2>
                            </div>
                            <div class="body">
                                <ul class="comment-reply list-unstyled">
                                    {% for comment in comments %}
                                    <li class="row clearfix">
                                        <div class="icon-box col-md-2 col-4"><img class="img-fluid img-thumbnail" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Awesome Image"></div>
                                        <div class="text-box col-md-10 col-8 p-l-0 p-r0">
                                            <h5 class="m-b-0">{{ comment.owner.get_full_name }} </h5>
                                            <p> {{ comment.body }}</p>
                                            <ul class="list-inline">
                                                <li><a href="javascript:void(0);">{{ comment.created }}</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    {% empty %}
                                    <p>There are no comments yet.</p>
                                    {% endfor %}
                                </ul>                                        
                            </div>
                        </div>
                        <div class="card">
                            <div class="header">
                                {% if new_comment %}
                                <div class="alert alert-success" role="alert">
                                    <h2>Your comment has been added.</h2>
                                </div>
                                {% endif %}
                                {% if request.user.is_authenticated %}
                                <h3>Leave a reply <small>Required fields are marked*</small></h3>
                            </div>
                            
                            <div class="body">
                                <div class="comment-form">
                                    <form method="POST" class="row clearfix">
                                        <div class="col-lg-auto">
                                            <div class="row">
                                            <div class="form-group">
                                                {% csrf_token %}
                                                {{ comment_form.body|as_crispy_field }}
                                            </div>
                                        </div>
                                            <button type="submit" class="btn btn-block btn-primary">SUBMIT</button>
                                        </div>                                
                                    </form>
                                </div>
                                {% else %}
                            <h4><a href="{% url 'login' %}">Log in</a> to leave a reply 
                                <small>Don't have an account yet? </small><a href="{% url 'students:student_registration' %}">Sign Up</a></h4>
                            {% endif %}
                            </div>
                        </div>
                </div>
                <div class="col-lg-4 col-md-12 right-box">
                    <div class="card">
                        <div class="body search">
                            <div class="input-group m-b-0">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Search...">                                    
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h2>Categories Clouds</h2>
                        </div>
                        <div class="body widget">
                            <ul class="list-unstyled categories-clouds m-b-0">
                                {% all_tags as total_tags %}
                                {% for tag in total_tags %}
                                <li><a href="javascript:void(0);">{{ tag }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="card">
                        <div class="header">
                            <h2>Recommended Posts</h2>
                        </div>
                        <div class="body widget popular-post">
                            <div class="row">
                                <div class="col-lg-12">
                                    {% for post in similiar_posts %}
                                    <div class="single_post">
                                        <p class="m-b-0"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
                                        <span>{{post.publish}}</span>
                                        <div class="img-post">
                                            <a href="{{ post.get_absolute_url }}"><img src="{% if post.image %}{{ post.image.url }}{% else %} {% static 'img/no_img.png' %}{% endif %}" alt="Awesome Image" width="400" height="150"></a>                                       
                                        </div>                                            
                                    </div>
                                    {%  endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="header">
                            <h2>Popular Posts</h2>                        
                        </div>
                        <div class="body widget popular-post">
                            <div class="row">
                                <div class="col-lg-12">
                                    {% get_most_commented_posts as most_commented_posts %}
                                    {% for post in most_commented_posts %}
                                    <div class="single_post">
                                        <p class="m-b-0"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
                                        <span>{{post.publish}}</span>
                                        <div class="img-post">
                                            <img src="{% if post.image %}{{ post.image.url }}{% else %} {% static 'img/no_img.png' %}{% endif %}" alt="Awesome Image">                                        
                                        </div>                                            
                                    </div>
                                    {%  endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}












